<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/1a/30/ba/1a30bafc0af4e1000c49f63170645926.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{product.sku}}</h6>
                  <p class="card-text">{{product.description}}</p>
                  <div style="width: 100%; text-align: right !important;">
                    <button class="btn btn-violet btn-sm f-s-13 row-f" (click)="addProductToCart(product.id)">
                        <span class="material-icons" style="font-size: 19px;">
                            add_shopping_cart
                        </span>
                        <div>Agregar al carrito</div>
                    </button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

